<a href="https://colab.research.google.com/github/Riya-bhagat/Machine-learning-project/blob/master/Project_2_titanicsurvivalprediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import Basic libraries

In [ ]:
import pandas as pd
import numpy as np

Choose Dataset file from local Directory

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving titanic.csv to titanic.csv

Load Dataset

In [ ]:
dataset = pd.read_csv('titanic.csv')

Summarize Dataset

In [ ]:
print(dataset.shape)
print(dataset.head(5))

(887, 7)
   Survived  Pclass     Sex   Age  Siblings/Spouses Aboard  \
0         0       3    male  22.0                        1
1         1       1  female  38.0                        1
2         1       3  female  26.0                        0
3         1       1  female  35.0                        1
4         0       3    male  35.0                        0

   Parents/Children Aboard     Fare
0                        0   7.2500
1                        0  71.2833
2                        0   7.9250
3                        0  53.1000
4                        0   8.0500

Mapping text data to Binary value

In [ ]:
income_set= set(dataset['Sex'])
dataset['Sex'] = dataset['Sex'].map({'female':0 , 'male':1}).astype(int)
print(dataset.head)

<bound method NDFrame.head of      Survived  Pclass  Sex   Age  Siblings/Spouses Aboard  \
0           0       3    1  22.0                        1
1           1       1    0  38.0                        1
2           1       3    0  26.0                        0
3           1       1    0  35.0                        1
4           0       3    1  35.0                        0
..        ...     ...  ...   ...                      ...
882         0       2    1  27.0                        0
883         1       1    0  19.0                        0
884         0       3    0   7.0                        1
885         1       1    1  26.0                        0
886         0       3    1  32.0                        0

     Parents/Children Aboard     Fare
0                          0   7.2500
1                          0  71.2833
2                          0   7.9250
3                          0  53.1000
4                          0   8.0500
..                       ...      ...
882                        0  13.0000
883                        0  30.0000
884                        2  23.4500
885                        0  30.0000
886                        0   7.7500

[887 rows x 7 columns]>

Segregate Dataset into X(input/independentvariable) & Y(output/dependentvariable) input- pixel | output-class

In [ ]:
X = dataset.drop('Survived' ,axis = 'columns')
X

,Pclass,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,3,1,22.0,1,0,7.2500
1,1,0,38.0,1,0,71.2833
2,3,0,26.0,0,0,7.9250
3,1,0,35.0,1,0,53.1000
4,3,1,35.0,0,0,8.0500
...,...,...,...,...,...,...
882,2,1,27.0,0,0,13.0000
883,1,0,19.0,0,0,30.0000
884,3,0,7.0,1,2,23.4500
885,1,1,26.0,0,0,30.0000
886,3,1,32.0,0,0,7.7500

In [ ]:
Y = dataset.Survived
Y

0      0
1      1
2      1
3      1
4      0
      ..
882    0
883    1
884    0
885    1
886    0
Name: Survived, Length: 887, dtype: int64

Finding and revoving NAN values from X

In [ ]:
X.columns[X.isna().any()]

Index(['Age'], dtype='object')

In [ ]:
X.Age = X.Age.fillna(X.Age.mean())

Test gain to check any na value

In [ ]:
X.columns[X.isna().any()]

Index([], dtype='object')


splitting dataset into train and test

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test , Y_train, Y_test =train_test_split(X,Y, test_size=0.25,random_state=0)

print(X_train.shape)
print(X_test.shape)

(665, 6)
(222, 6)

Training

In [ ]:
from sklearn.naive_bayes import GaussianNB  
model = GaussianNB()  
model.fit(X_train, Y_train)

GaussianNB()

Predicting wheather Person Survived or not

In [ ]:
pclassNo = int(input("Enter person's pclass number: "))
Gender = int(input("Enter person's Gender 0-female 1-male number: "))
Age = int(input("Enter person's Age: "))
Fare = float(input("Enter person's Fare: "))
Siblings = int(input("Enter the number of siblings"))
Parents_child = int(input("Enter the number of parent's and children"))
person = [[pclassNo, Gender, Age, Fare,Siblings,Parents_child]]
result = model.predict(person)
print(result)

if result == 1:
  print("Person might be survived")
else:
  print("person might not be survived")

Enter person's pclass number: 3
Enter person's Gender 0-female 1-male number: 1
Enter person's Age: 22
Enter person's Fare: 7.25
Enter the number of siblings1
Enter the number of parent's and children0
[0]
person might not be survived

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(

Pridict for all test data

In [ ]:
Y_pred = model.predict(X_test)
print(np.column_stack((Y_pred, Y_test)))

[[1 0]
 [0 0]
 [0 0]
 [0 1]
 [0 0]
 [0 0]
 [0 1]
 [0 1]
 [0 0]
 [0 0]
 [1 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 1]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 1]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 1]
 [1 1]
 [1 1]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [0 1]
 [0 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [1 0]
 [0 0]
 [0 0]
 [0 0]
 [1 0]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 1]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [1 0]
 [0 0]
 [1 1]
 [1 1]
 [1 0]
 [0 0]
 [0 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 0]
 [1 1]
 [0 0]
 [1 0]
 [1 0]
 [0 0]
 [1 0]
 [1 0]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [1 0]
 [0 0]
 [0 1]
 [0 0]
 [0 0]
 [1 1]
 [0 1]
 [1 1]
 [0 0]
 [0 0]
 [1 1]
 [1 1]
 [0 0]
 [1 1]
 [1 1]
 [0 0]
 [1 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 1]
 [0 0]
 [0 0]
 [0 1]
 [1 0]
 [1 1]
 [0 0]
 [1 0]
 [1 1]
 [1 0]
 [1 1]
 [0 0]
 [0 1]
 [1 0]
 [1 1]
 [1 1]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [0 1]
 [1 0]
 [0 0]
 [1 1]
 [1 0]
 [0 0]
 [0 0]
 [0 0]
 [0 1]
 [1 0]
 [1 1]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [1 0]
 [1 0]
 [0 0]
 [0 1]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [0 1]
 [0 0]
 [0 0]
 [1 1]
 [1 0]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [1 0]
 [0 1]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [1 1]
 [1 1]
 [0 1]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [1 1]
 [1 1]
 [1 1]
 [0 0]]

Accuracy of our model

In [ ]:
from sklearn.metrics import accuracy_score
print("Accuracy of the model : {0}%".format(accuracy_score(Y_test,Y_pred)*100))

Accuracy of the model : 79.72972972972973%